.hs-menu {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  box-sizing: content-box;
  height: 30px;
  background-color: transparent;
}
.hs-menu .hs-layout {
  overflow: hidden;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}
.hs-menu .hs-layout:first-child {
  border-left: none;
}
.hs-menu .hs-layout:last-child {
  border-right: none;
}
.hs-menu .hs-selectable {
  overflow: hidden;
  padding: 5px 0px 5px 10px;
  background-color: #eee;
}
.hs-menu .hs-selected {
  background-color: #fff;
  font-weight: bold;
}
.hs-collapsible-arrow {
  width: 0;
  height: 0;
  display: inline-block;
}
.hs-collapsible-arrow-right {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid #666;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding-right: 3px;
  top: 3px;
}
.hs-collapsible-arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid #666;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding-right: 3px;
  top: 3px;
  transform: rotate(90deg);
  top: 6px;
}
.hs-collapsible-arrow-up {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid #666;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding-right: 3px;
  top: 3px;
  transform: rotate(-90deg);
}
.hs-collapsible-arrow-left {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid #666;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding-right: 3px;
  top: 3px;
  transform: rotate(180deg);
}
.hs-collapsible {
  position: relative;
}
.hs-collapsible-title div {
  display: inline-block;
  padding-left: 5px;
}
.hs-collapsible-title div.hs-collapsible-pre {
  padding-left: 0px;
  position: absolute;
  margin-right: auto;
  left: 3px;
}
.hs-collapsible-title div.hs-collapsible-pre + div {
  margin-left: 12px;
}
.hs-collapsible-title div.hs-collapsible-post {
  padding-left: 0px;
  position: absolute;
  margin-left: auto;
  right: 3px;
  top: 3px;
}
.hs-collapsible-content {
  position: relative;
  overflow: hidden;
  height: 0%;
  max-height: 0%;
  transition: height 0.5s ease-in-out, max-height 0.5s ease-in-out;
}
.hs-collapsible-expanded.hs-collapsible-content {
  height: auto;
  max-height: 100%;
}
.hs-dropover {
  position: relative;
}
.hs-dropover-content {
  left: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0%;
}
.hs-dropover-content.hs-dropover-expanded {
  max-height: 100%;
}
.hs-abstract-button-group {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.hs-abstract-button {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.hs-button {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-weight: bold;
  background-color: #48f;
}
.hs-button:hover {
  background-color: #2a78ff;
}
.hs-button.hs-button-pressed {
  background-color: #aac9ff;
}
.hs-button span {
  vertical-align: middle;
  line-height: 30px;
}
.hs-button-group {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: transparent;
  height: 30px;
}
.hs-button-group .hs-selectable {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  background: linear-gradient(to bottom, #eee, #dde);
}
.hs-button-group .hs-selectable.hs-selected {
  background: initial;
  background-color: #48f;
  font-weight: bold;
  color: white;
}
.hs-button-group > .hs-layout > :first-child > .hs-selectable {
  border-left: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.hs-button-group > .hs-layout > :last-child > .hs-selectable {
  border-right: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.hs-radio-buttons {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: transparent;
  height: 30px;
}
.hs-radio-buttons .hs-selectable {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  background: linear-gradient(to bottom, #eee, #dde);
}
.hs-radio-buttons .hs-selectable.hs-selected {
  background: initial;
  background-color: #48f;
  font-weight: bold;
  color: white;
}
.hs-radio-buttons > .hs-layout > :first-child > .hs-selectable {
  border-left: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.hs-radio-buttons > .hs-layout > :last-child > .hs-selectable {
  border-right: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.hs-options-buttons {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: transparent;
  height: 30px;
}
.hs-options-buttons .hs-selectable {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  background: linear-gradient(to bottom, #eee, #dde);
}
.hs-options-buttons .hs-selectable.hs-selected {
  background: initial;
  background-color: #48f;
  font-weight: bold;
  color: white;
}
.hs-options-buttons > .hs-layout > :first-child > .hs-selectable {
  border-left: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.hs-options-buttons > .hs-layout > :last-child > .hs-selectable {
  border-right: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.hs-toggle-button {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-weight: bold;
  background-color: #48f;
}
.hs-toggle-button:hover {
  background-color: #2a78ff;
}
.hs-toggle-button.hs-button-pressed {
  background-color: #aac9ff;
}
.hs-toggle-button span {
  vertical-align: middle;
  line-height: 30px;
}
.hs-toggle-button span {
  vertical-align: middle;
  line-height: 30px;
}
.hs-corner-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16pt;
  line-height: 20px;
  width: auto;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;
  text-align: right;
  vertical-align: middle;
}
.hs-modal-background {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: rgba(16, 16, 16, 0.6);
  z-index: 998;
}
.hs-modal-foreground {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  width: auto;
  height: auto;
}
.hs-form {
  position: relative;
}
.hs-typeahead-input {
  position: relative;
  left: 5px;
  right: 5px;
  top: 0;
  box-shadow: 0 0 5px 0px #ccc;
  border: 1px solid #ccf;
  border-radius: 4px;
  padding: 4px;
  font-size: 16px;
}
.hs-typeahead-input.hs-typeahead-value {
  color: #66f;
}
.hs-typeahead-input.hs-typeahead-placeholder {
  color: #ccc;
}
.hs-typeahead-list {
  position: absolute;
  z-index: 9999;
  left: 20px;
  width: 200px;
  border: 1px solid #aaf;
  box-shadow: 0 0 5px 0px #ccc inset;
  background-color: white;
}
.hs-typeahead-list div {
  padding: 5px;
}
.hs-typeahead-list div:hover {
  text-shadow: 0 0 3px #88f;
}
.hs-label {
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 30px;
}
.hs-slider {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
}
.hs-slider .hs-slider-slot {
  position: absolute;
  height: 10px;
  left: 10px;
  right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.hs-slider .hs-slider-slot .hs-slider-markers {
  position: absolute;
  top: 0;
  left: 0px;
  right: 2px;
}
.hs-slider .hs-slider-slot .hs-slider-markers .hs-slider-marker {
  position: absolute;
  height: 5px;
  width: 0px;
  top: 10px;
  border: 1px solid #aaa;
}
.hs-slider .hs-slider-slot .hs-slider-markers .hs-slider-marker .hs-slider-label {
  font-size: 10px;
  margin-top: 5px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.hs-slider .hs-slider-slot .hs-slider-handle {
  top: 5px;
  position: absolute;
  border: 1px solid #aaa;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -50%);
  background-color: #88f;
}
/*# sourceMappingURL=./hsWidget.css.map */