@ButtonColor:    #48f;
@ButtonIdleColor: #dde;
@ButtonRadius:      6px;
@SelectedColor: lighten(@ButtonColor, 20%);
@ButtonHeight: 30px;
@DeselectColor: #dde;
@BoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

.hs-abstract-button-group {
    position: relative;
    margin:  0px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}

.hs-abstract-button {
    .hs-abstract-button-group;
}

.hs-button {
    .hs-abstract-button;
    margin-left:    5px;
    margin-right:   5px;
    height: @ButtonHeight;
    border-radius: @ButtonRadius;
    box-shadow: @BoxShadow;
    color: white;
    font-weight:bold;
    background-color: @ButtonColor;
    &:hover {
        background-color: darken(@ButtonColor, 5%);
    }
    &.hs-button-pressed {
        background-color: lighten(@ButtonColor, 20%);
    }
    span {
        vertical-align: middle;
        line-height: @ButtonHeight;
    }
}

.hs-button-group {
    .hs-abstract-button-group;
    overflow: hidden;
    border-radius: @ButtonRadius;
    box-shadow: @BoxShadow;
    background-color: transparent;
    height: @ButtonHeight;
    .hs-selectable {
        .hs-abstract-button;
        line-height: @ButtonHeight;
        background: linear-gradient(to bottom, #eee, #dde);
        &.hs-selected {
            background: initial;
            background-color: @ButtonColor;    
            font-weight:bold;
            color: white;
        }
    }
    &>.hs-layout {
        &>:first-child>.hs-selectable { 
            border-left: none;  
            border-top-left-radius: @ButtonRadius;
            border-bottom-left-radius: @ButtonRadius;
        }
        &>:last-child>.hs-selectable  { 
            border-right: none; 
            border-top-right-radius: @ButtonRadius;
            border-bottom-right-radius: @ButtonRadius;
        }
    }
}

.hs-radio-buttons {
    .hs-button-group;
}

.hs-toggle-button {
    .hs-button;
    span { 
        vertical-align: middle; 
        line-height: @ButtonHeight;
    }
}