@ArrowSize: 7px;
@ArrowLegs: unit(unit(@ArrowSize)-1, px) solid transparent;
@ArrowHypothenuse: @ArrowSize solid #666;
.hs-collapsible-arrow {
    width: 0; 
    height: 0; 
    display:inline-block;
}

.hs-collapsible-arrow-right {
    .hs-collapsible-arrow;
    border-left: @ArrowHypothenuse;
    border-top: @ArrowLegs;
    border-bottom: @ArrowLegs;
    padding-right: 3px;
}

.hs-collapsible-arrow-down {
    .hs-collapsible-arrow-right;
    transform: rotate(90deg);
}

.hs-collapsible-arrow-up {
    .hs-collapsible-arrow-right;
    transform: rotate(-90deg);
}

.hs-collapsible-arrow-left {
    .hs-collapsible-arrow-right;
    transform: rotate(180deg);
}

.hs-collapsible {
    position: relative;
}

.hs-collapsible-title {
    div { display: inline-block; }
    div.hs-collapsible-pre {
        position: absolute;
        margin-right: auto;
        left:3px;
        top: unit(unit(@ArrowSize)/2, px);

        & + div { // start the following title div after a margin
            margin-left: unit(unit(@ArrowSize)+6, px);
        }
    }

    div.hs-collapsible-post {
        position: absolute;
        margin-left: auto;
        right:3px;
        top: unit(unit(@ArrowSize)/2, px)
    }
}


.hs-collapsible-content {
    left: 5px;
    position: relative;
    overflow: hidden;
    height:0%;
    max-height:0%;
    transition: max-height 0.5s ease-in-out;
}

.hs-collapsible-expanded .hs-collapsible-content {
    height:auto;
    max-height:100%;
//    transition: height 0.5s ease-in-out;
}

