@rowHeight: 20px;

.hs_edit_list {
    .header {
        width: 100%;
        height: @rowHeight;
        background-color: #aca;
        font-weight: bold;
    }
    
    .content {
        height:auto;
        background-color: #cdc;
    }
    
    .row {
        min-height: @rowHeight;
        overflow-x: hidden;
        height: auto;
    }
}
