.hs_popup {
    position: fixed;
    padding: 3px 5px;
    z-index: 999;
    background-color:#eee;
    border-radius: 5px; 
    border: 1px solid #aaf;
    width: auto;
    height: auto;
    font-size: 14px;
}

