.hs_popup {
    position: fixed;
    padding: 10px;
    z-index: 999;
    transform: translate(0, -50%);
    background-color:#eee;
    border-radius: 5px; 
    width: auto;
    height: auto;
    font-size: 14px;
}

