.overview>div  {
    width: 100%;
}
.myMenuMain { 
   border:1px solid #ddd;
   border-top: 0px solid #ddd;
   background-color: white;
} 

.myCollapsible {
    margin-bottom: 5px;
}
.myCollapsible .hs-collapsible-title {
    font-weight:bold;
    background-color: #eee;
}
.myCollapsible .hs-collapsible-expanded {
    margin-left: 10px;
}
.myCornerClicked { background-color: #efe; }
.myCornerPositioned { 
     position: relative; 
     display: inline-block;
     box-sizing: border-box;
     background-color: #eee; 
     text-align: center;
     font-size: 70%;
     margin:  2px;
     padding-top: 20px;
     height: 50px;
     width:  50px;
}
.hs-corner-button { color: #008; }

.hs-radio-buttons>.hs-column-layout>.hs-layout { border-color: transparent}

.hsedit_label { 
   background-color: #eee;
}
   
.topGap     { height: 100px; }
.myButtons  { height: 680px; }
.myMenus    { height: 280px; }
.myDialog   { height: 180px; }
.myPopup    { height: 200px; }
.myColl     { height: 340px; }
.myType     { height: 300px; }
.myCorner   { height: 280px; }
.mySlider   { height: 250px; }
.myELabel   { height: 150px; }
.myESelect  { height: 150px; }
.myEList    { height: 150px; }
.myECheck   { height: 180px; }

.hsIconButtons.hs_optionbutton {
    width:0;
}
.hsIconButtons .hs_onoff_button {
    padding:0;
    width: 32px;
}

.hsIconButtons .hs_onoff_button.state0 {
    background-color: #dde;
}

.hsIconButtons .hs_onoff_button.state1 {
    background-color: #aab;
}

.hsIconButtons .hs_onoff_button.state1 .hs_icon {
    filter: invert(100%) hue-rotate(180deg) brightness(2);
}

.hsIconButtons .hs_onoff_button .hs_icon {
    width: 80%;
    height:80%;
}
